body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: #333;
color: white;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
}
.hero {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    
    
}
.about, .services, .contact {
padding: 50px;
text-align: center;
}
form input, form textarea {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}
button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
.one {
    text-align: center;
    color: blue;
}
.links {
display: flex;
justify-content: space-evenly;
}

.sendb:hover {
border: 2px solid rgb(255, 187, 1);
background-color: blue;
}
.mark1 {
    color: red;
}
